@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

/* FontCSS */
@import url(../public/css/space-grotesk.css);
@import url(../public/css/hind-siliguri.css);
@import url(../public/css/anek-bangla.css);
@import url(../public/css/tiro-bangla.css);
@import url(../public/css/bonbonia-kajla.css);
@import url(../public/css/alinur-tatsama.css);
@import url(../public/css/alinur-borno-bikas.css);
@import url(../public/css/alinur-subas.css);

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.element {
  @apply bg-card p-normal rounded-lg;
}
.bg-image {
  @apply bg-no-repeat bg-center bg-cover;
}

.card-btn {
  @apply bg-primary text-white p-normal rounded-xl relative;
}

.tag {
  @apply absolute -top-3 right-0 bg-element p-tag text-small rounded-full;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Space Grotesk", sans-serif !important;
}

.link-cdn {
  font-family: "Fira Code", monospace;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
